nav.post-pagination {
    text-align: left;
    padding-top: $global_module_padding_double;

    ul.page-numbers {
        display: inline-flex;
        justify-content: space-between;
        column-gap: 12px;

        text-decoration: none;

        .current {
            color: $color_red;
        }


        li {
            margin: 0;

            a {
                //
                text-decoration: none;

                &.prev {
                    //
                }

                &.next {
                    //
                }
            }
        }
    }
}