.curved-top-slider {
    &:before {
        content: '';
        position: absolute;
        top: -75px;
        left: -10%;
        width: 120%;
        height: 200px;
        background: $color_red;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        z-index: 1;
        display: block;
        pointer-events: none;
    }

    background-color: $color_red;

    .curved-top-slider-container {
        .slide-icon {
            img {
                height: 97px;
                width: auto;
                object-fit: contain;
                object-position: center;
                object-fit: contain;
            }
        }
    }
}