body.home header.title-area,
body.page-category-secondary-homepage header.title-area {
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $breakpoint_tablet_medium_landscape) {
        padding-top: 150px !important;
        padding-bottom: 220px !important;
    }



    .content {
        max-width: 680px;

        @media screen and (max-width: $breakpoint_tablet_medium_landscape) {
            max-width: 64%;

            h1 {
                font-size: 40px;
            }

            h4 {
                font-size: 20px;
            }

            .button {
                font-size: 16px !important;
            }
        }

        @media screen and (max-width: $breakpoint_tablet_medium_portrait) {
            max-width: 55%;

            .button {
                font-size: 13px !important;

                @media screen and (max-width: 415px) {
                    padding-right: 40px;
                }
            }

            h1 {
                font-size: 31px;
            }

            h4 {
                font-size: 18px;
            }
        }


    }

    @media screen and (max-width: 1300px) {
        .background {
            background-position-x: -200px !important;
            background-size: auto !important;
        }
    }

    @media screen and (max-width: 1150px) {
        .background {
            background-position-x: -300px !important;
        }
    }

    @media screen and (max-width: 1024px) {
        .background {
            background-position-x: 0px !important;
            background-size: 130% !important;
        }
    }

    @media screen and (max-width: 560px) {
        .background {
            background-size: 140% !important;
        }
    }

    @media screen and (max-width: 415px) {
        .background {
            background-size: 160% !important;
            background-position-x: -50px !important;
            background-position-y: -30px !important;
        }
    }

    @media screen and (max-width: 389px) {
        .background {
            background-size: cover !important;
            background-position-x: -50px !important;
            background-position-y: 0px !important;
        }
    }

    span.overlay {
        // Overlay styles
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        z-index: 1;
    }
}

@import 'image-layout';
@import 'video-layout';
@import 'slider-layout';