.stats-list {
    .stats-grid {
        padding-top: $global_module_padding_single;
        width: 100%;

        .stat-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.25rem;
            background: $color_white_alt;
            border-bottom: 2px solid $color_red;
            box-shadow: 0 0 1rem 0 rgb(0 0 0 / 12%);
            padding: 32px;
        }

        .stat-number {
            display: inline;
            font-weight: 700;
            color: $color_red;
            font-family: "Open Sans", sans-serif;
            font-size: 60px;
            font-style: normal;
            line-height: normal;
            margin-right: 0.25rem;
            display: flex;
            align-items: center;

            .stat-pretext {
                font-size: 0.9em;
                color: $color_red;
                display: block;
                font-size: 60px;
            }
        }

        .stat-posttext {
            display: inline-block;
            margin-top: 0.25rem;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-align: center;
        }
    }
}